<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
    <StyleChangeAnytimeShowAllStyles>show all styles</StyleChangeAnytimeShowAllStyles>
    <StyleChangeAnytimeShowAllStylesTooltip>if enabled, it'll always show all styles - even if they're not part of the player's ideology</StyleChangeAnytimeShowAllStylesTooltip>

    <StyleChangeAnytimeUsePrimaryIdeoOnly>only use primary ideology</StyleChangeAnytimeUsePrimaryIdeoOnly>
    <StyleChangeAnytimeUsePrimaryIdeoOnlyTooltip>determines if only the primary colony ideology is used, or should the minor ones also be included</StyleChangeAnytimeUsePrimaryIdeoOnlyTooltip>

    <StyleChangeAnytimeApplyToBlueprints>enabled for blueprints</StyleChangeAnytimeApplyToBlueprints>
    <StyleChangeAnytimeApplyToBlueprintsTooltip>if enabled, it'll be possible to change the style of blueprints (when a valid blueprint is selected)</StyleChangeAnytimeApplyToBlueprintsTooltip>

    <StyleChangeAnytimeApplyToBills>enabled for bills</StyleChangeAnytimeApplyToBills>
    <StyleChangeAnytimeApplyToBillsTooltip>if enabled, it'll be possible to change the style of bill (inside of bill config window)</StyleChangeAnytimeApplyToBillsTooltip>

    <StyleChangeAnytimeDevModeLogs>enabled dev mode logs</StyleChangeAnytimeDevModeLogs>
    <StyleChangeAnytimeDevModeLogsTooltip>enables extra logs when launching the game</StyleChangeAnytimeDevModeLogsTooltip>
</LanguageData>